<%-include("../layouts/header.ejs")-%>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4" id="divtable">
      <h1 class="mt-4">Products</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
        <li class="breadcrumb-item">
          <a href="/admin/products/orders">Orders</a>
        </li>
        <li class="breadcrumb-item active">Orders Details</li>
      </ol>

      <div class="card mb-4">
        <div class="card-header d-flex">
          <i class="fas fa-table me-1"></i>
          Orders Details of <% if(id){ %> <%= id %><% } %>
          <a class="btn btn-primary ml-auto mr-0" href="/admin/products/orders"
            >Back</a
          >
        </div>
        <div class="card-body text-center">
          <table class="table table-striped table-hover text-start">
            <% if(details){ details.forEach(item => {%>

            <tr>
              <td>Order ID</td>
              <td>
                <%= item._id%>
                <input type="hidden" id="oid" value="<%= item._id%>" />
              </td>
            </tr>
            <tr>
              <td>Order Date</td>
              <td>
                <%= new Date(item.orderDate).getDate() %> <%= new
                Date(item.orderDate).toLocaleString('default', {month: 'long'});
                %>,<%= new Date(item.orderDate).getFullYear(); %>
              </td>
            </tr>
            <tr>
              <td>Order Status</td>
              <td>
                <div id="updatedStatus">
                  <span id="upstatus"> <%= item.orderStatus %> </span>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#statusChange"
                  >
                    Change Status
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Order Total</td>
              <td>₹ <%= item.grandTotalCost %>.00</td>
            </tr>
            <tr>
              <td>Coupon Applied</td>
              <td><%= item?.couponId?.name %></td>
            </tr>
            <tr>
              <td>Discount</td>
              <td>₹ <%= item?.totalAmount -item?.grandTotalCost %></td>
            </tr>
            <tr>
              <td>User Name</td>
              <td><%= item.userId.name %></td>
            </tr>
            <tr>
              <td>Delivery Address</td>
              <td>
                <%= item?.addressChosen?.addressTitle %><br />
                <%= item?.addressChosen?.firstName %> <br /><%=
                item?.addressChosen?.lastName %><br />
                <%= item?.addressChosen?.addressLine1 %> <br /><%=
                item?.addressChosen?.addressLine2 %> <br /><%=
                item?.addressChosen?.state %> <br />Mobile : <%=
                item?.addressChosen?.phone %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table class="w-100">
                  <thead>
                    <th>Product Image</th>
                    <th>Product Description</th>
                    <th>Qty</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <% item?.cartData.forEach((product)=>{ %>
                    <tr>
                      <td>
                        <img
                          src="
                  <%= product.productId.image %>"
                          width="100"
                          height="100"
                        />
                      </td>
                      <td><%= product.productId.description %></td>
                      <td><%= product.productQuantity %> Nos</td>
                      <td>₹ <%= product.totalCostPerProduct %></td>

                      <%}) %>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <% }); } %>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- Button trigger modal -->

<!-- Modal Product view-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Change order Status view-->
<div
  class="modal fade"
  id="statusChange"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Change Order Status
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" role="form" name="statuschangefrm">
          <div class="modal-body">
            <div class="mb-3">
              <label for="productTable" class="form-label">Select Status</label>
              <select
                name="status"
                class="form-select"
                value="Status"
                aria-label="Default select example"
                id="statusselection"
              >
                <option value="Pending">Pending</option>
                <option value="Shipped">Shipped</option>
                <option value="Delivered">Delivered</option>
                <option value="Return">Return</option>
                <option value="Cancelled">Cancelled</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              id="btnclose"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Update Status</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // Get the select element by its ID

  const statsfrm = document.getElementsByName("statuschangefrm");

  $(statsfrm).on("submit", (e) => {
    e.preventDefault();
    const stats = $("#statusselection").find(":selected").val();
    const id = $("#oid").val();
    const formData = {
      id: id,
      orderStatus: stats,
    };

    // const stat = document.getElementById("#statusselection");
    // console.log("The selection box value", stat.val());

    $.ajax({
      url: "http://localhost:3000/admin/order/chgstatus",
      method: "POST",
      data: formData,
      success: function (response) {
        $("#btnclose").click();
        console.log(response);
        // $("#updatedStatus").text(stats);
        // $("#updatedStatus").load(" #updatedStatus > *");
        if (response.success == true) {
          Swal.fire({
            title: "Status Chanded Successfully!",
            icon: "success",
          });
        }
        $("#upstatus").text(response.val);
        // $("#updatedStatus").load(" #updatedStatus > *");
      },
      error: function (xhr, status, error) {
        // Handle error response
        console.error(error);
      },
    });
  });
</script>
<%-include("../layouts/footer-order.ejs")-%>
